.centrado{
	text-align: center;  
}
.medioCentro{
	
}
.fondo{
  background: url(https://github.com/realsteek/GrandTour/blob/master/images/banner1.jpg?raw=true)no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; 
	width: 100%;
	height: 560px;
	padding:right:10%;
	padding-left:10%; 
}
.fondo2 {
	background-color:#FFFFFF;
	width:100%;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:10%
}
.imagenf2{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.letra{

  left: 15px;
  font-size: 15px;
  font-family: arial;
  color: #FFFFFF ;
  width:
}
.fondo3{
	background-color: #037FFB; 
}